{% extends 'bookings/layout.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Book Flight</h1>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Source:</strong> {{ flight.source }}</p>
            <p><strong>Destination:</strong> {{ flight.destination }}</p>
            <p><strong>Take Off Timing:</strong> {{ flight.take_off_timing }}</p>
            <p><strong>Pricing:</strong> {{ flight.pricing }}</p>
        </div>
        <div class="col-md-6">
            <form method="post" class="mt-3">
                {% csrf_token %}
                <div class="form-group">
                    <label for="seats">Number of Seats:</label>
                    <!-- Calculate the maximum available seats -->
                    {% with max_available_seats=flight.max_seats|add:'-'|add:flight.booked_seats %}
                    <input type="number" name="seats" id="seats" min="1" max="{{ max_available_seats }}" class="form-control" required>
                    {% endwith %}
                </div>
                <button type="submit" class="btn btn-primary">Confirm Booking</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
