{% extends 'bookings/layout.html' %}

{% block title %}Confirm Cancellation{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Confirm Cancellation</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-text">Are you sure you want to cancel the booking?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="confirm_cancel" class="btn btn-danger mr-2">Confirm Cancel</button>
                <a href="{% url 'bookings:booked_flights' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
