{% extends "user/layout.html" %}

{% block title %}Search Flights{% endblock %}

{% block content %}
<div class="container">
    <h1>Search Flights</h1>
    <form method="post" action="{% url 'bookings:search_flights' %}" class="mt-4">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Error!</strong> Please correct the following errors:
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="form-group">
            <label for="from_date">From Date:</label>
            <input type="date" id="from_date" name="from_date" class="form-control">
        </div>
        <div class="form-group">
            <label for="to_date">To Date:</label>
            <input type="date" id="to_date" name="to_date" class="form-control">
        </div>
        <div class="form-group">
            <label for="source">Source (optional):</label>
            <select id="source" name="source" class="form-control">
                <option value="">Select Source</option>
                {% for source in available_sources %}
                    <option value="{{ source }}">{{ source }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="destination">Destination (optional):</label>
            <select id="destination" name="destination" class="form-control">
                <option value="">Select Destination</option>
                {% for destination in available_destinations %}
                    <option value="{{ destination }}">{{ destination }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search Flights</button>
    </form>
</div>
{% endblock %}
